.montserrat,html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #000000, #006400, #008f00);
    background-size: cover; /* Esto asegura que el fondo cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    background-attachment: fixed; /* Hace que el fondo permanezca fijo al desplazarse */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: inherit; /* Hereda el fondo del html */
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #1B310D;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.header-title {
    margin: 0;
    font-weight: 700;
    font-size: 24px; 
    color: #ffffff; 
    text-decoration: none; /* Sin subrayado */
    padding: 10px 20px; 
    border: 2px solid transparent; /* Borde inicial transparente */
    transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.header-title:hover {
    color: #cccccc; /* Color más oscuro al pasar el mouse */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra alrededor en hover */
}

.header-title:active {
    color: #999999;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); 
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #1B310D;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-list a:hover {
    background-color: #6b8e23;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    display: flex;
    min-height: 75%;
    background: linear-gradient(to bottom, #000000, #006400, #008f00);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.form-container{
    background-color: #000;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

.form-group{
    padding: 20px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: black;
}

footer {
    background-color: #1B310D;
    color: white;
    padding: 10px 0;
    margin-top: auto;
    text-align: center;
}
