<!-- view_file.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>Contenido de {{ filename }}</title>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="header-title">BRAI.NET</a>
        <nav>
            <ul class="nav-list">
                <li><a href="{{ url_for('quienes_somos') }}">¿Quienes Somos?</a></li>
                <li><a href="{{ url_for('faqs') }}">FAQS</a></li>
                <li><a href="{{ url_for('iniciar_sesion') }}">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Contenido del archivo {{ filename }}</h1>
        <hr>
        <pre>{{ text }}</pre>
    </main>
    <footer>
        <p>&copy; 2024 BRAI.NET - Creado por Alejandra Justiniano y Mateo Márquez</p>
    </footer>
</body>
</html>
