/* Estilo para el overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: #2A2A2A;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    height: 80%; /* Ajustar según sea necesario */
    overflow-y: auto;
    position: relative;
}

.close-overlay {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-overlay:hover {
    color: #ABE188;
}

.overlay-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}



.file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A2A2A;
    color: #ABE188;
    border: 2px solid #ABE188;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.3s ease;
}

.file-label:hover {
    background-color: #ABE188;
    color: #2A2A2A;
    transform: translateY(-5px);
}

.submit-button {
    background-color: #ABE188;
    color: #2A2A2A;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.4s ease, transform 0.3s ease;
    margin-top: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.submit-button:hover {
    background-color: #fff;
    color: #2A2A2A;
    transform: translateY(-5px);
}

.error-message {
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #FF4C4C;
    text-align: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .form-container {
        width: 85%;
        padding: 25px;
    }

    .file-label {
        padding: 12px;
        font-size: 1rem;
        border-radius: 8px;
    }

    .submit-button {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .navbar-brand, .nav-link {
        font-size: 1rem;
    }

    .form-container {
        width: 95%;
    }

    .file-label {
        padding: 10px;
        font-size: 0.9rem;
        border-radius: 8px;
    }

    .submit-button {
        padding: 8px 18px;
        font-size: 0.9rem;
        border-radius: 25px;
    }
}
