<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BRAI.NET - Quienes Somos</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="wrapper">
        <header>
            <a href="{{ url_for('index') }}" class="header-title">BRAI.NET</a>
            <nav>
                <ul class="nav-list">
                    <li><a href="{{ url_for('quienes_somos') }}">¿Quienes Somos?</a></li>
                    <li><a href="{{ url_for('faqs') }}">FAQS</a></li>
                    <li><a href="{{ url_for('iniciar_sesion') }}">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="content">
                <h2>¿Quienes somos?</h2>
                <p class="text">BRAI.NET es un proyecto escolar pensado y creado desde la iniciativa de romper barreras inclusivas que aún estan presentes en nuestra sociedad. Somos un pequeño grupo que desea involucrar y facilitar el acceso a la información a personas que padecen alguna dificultad visual o que son ciegos. El desarrollo de este traductor está diseñado para que sea de fácil acceso y lo puedan utilizar todos de forma intuitiva. Brindamos la opción de generar archivos de corte con las traducciones para que, posteriormente, puedas leer lo que quieras en el sistema Braille</p>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 BRAI.NET - Creado por Alejandra Justiniano y Mateo Márquez</p>
        </footer>
    </div>
</body>
</html>