<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BRAI.NET - Subir Archivos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <a href="{{ url_for('index') }}" class="header-title">BRAI.NET</a>
            <nav>
                <ul class="nav-list">
                    <li><a href="{{ url_for('quienes_somos') }}">¿Quienes Somos?</a></li>
                    <li><a href="{{ url_for('faqs') }}">FAQS</a></li>
                    <li><a href="{{ url_for('iniciar_sesion') }}">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="center-container">
                <div class="form-container">
                    <form id="upload-form" method="POST" action="/upload" enctype="multipart/form-data" onsubmit="return validateForm()">
                        <label for="file-upload" class="file-label" id="file-label">
                            <span>Elegir archivo</span>
                            <input id="file-upload" type="file" name="file" accept=".pdf,.doc,.docx,.csv,.txt" onchange="updateFileName()">
                        </label>
                        <input type="submit" value="Subir Archivo" class="submit-button">
                        <div id="error-message" class="error-message" style="display: none; color: red;">Formato de archivo no válido. Por favor, selecciona un archivo con una de las siguientes extensiones: pdf, doc, docx, csv, txt</div>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 BRAI.NET - Creado por Alejandra Justiniano y Mateo Márquez</p>
        </footer>
    </div>

    <script>
        function updateFileName() {
            const input = document.getElementById('file-upload');
            const label = document.getElementById('file-label');
            const fileName = input.files[0].name;
            const truncatedName = fileName.length > 50 ? fileName.substring(0, 50) + '...' : fileName;
            label.querySelector('span').textContent = truncatedName;
        }

        function validateForm() {
            const fileInput = document.getElementById('file-upload');
            const filePath = fileInput.value;
            const allowedExtensions = ['pdf', 'doc', 'docx', 'csv', 'txt'];
            const fileExtension = filePath.split('.').pop().toLowerCase();

            if (!allowedExtensions.includes(fileExtension)) {
                document.getElementById('error-message').style.display = 'block';
                return false; // Evita que el formulario se envíe
            }

            return true; // Permite que el formulario se envíe
        }
    </script>
</body>
</html>
